@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Handjet:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');


body {
    font-family:'Times New Roman', Times, serif;
    background-color: black;
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 100vh; /* Define aonde quero o conteudo */
    margin: 0;
    padding: 0;
}

#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 142%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    background-size: cover;
    z-index: -1;
    
}


h1 {
    font-family: "Handjet";
    font-size: 7.5rem;
    text-shadow: grey 10px 10px 10px;
    color: #ffffff; 
    text-align: center; 
    letter-spacing: 0.4rem;
}

.descrição {
    font-size: 19.5px;
    margin-top: -81px;
    text-align: center;
    color: white;
}



section {
    display: flex;
    flex-direction:column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem;
}


section input {
    width: 30rem; 
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem; 
    margin-bottom: 1rem; 
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem; 
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

section button {
    padding: 0.8rem 1.2rem; 
    border: none; 
    border-radius: 1.5rem;
    background-color: #3b6085;
    color: #F5F7F8;
    font-size: 1rem;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

section > button:hover {
    background-color: rgb(3, 41, 136);
}

footer {
    background-color:transparent; /* Cor de fundo do rodapé */
    color: #193772; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */
    position: absolute; /* Posiciona o rodapé */
    bottom : 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}


img {
    width: 30px;
}

.resultado-pequisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
    margin-top: 1rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}


.item-resultado {
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */

}

.item-resultado h2 {
    font-size: 3em;
    padding: 10px;
    color: #193772;
    
}

.item-resultado p {
    text-align: right;

}